body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.carousel-inner-img {
  min-width: 50%;
  height: 100vh;
  object-fit: cover;
  -webkit-animation: thing 8s;
  -o-animation: thing 8s;
  animation: thing 8s;
  /*  filter: grayscale(30%); */
  margin-left: 46%;
}
.carousel-inner-main-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  -webkit-animation: thing 8s;
  -o-animation: thing 8s;
  animation: thing 8s;
  margin-top: -75px;
}
.navbar-brand {
  width: 50px;
  margin-right: 20px;
  margin-left: 20px;
}
.background {
  width: 100%;
  min-height: 100vh;
  background-color: #fe4236;
  object-fit: fill;
  position: relative;
}
.background .overlay .ingresar {
  max-width: 300px;
  margin: 0;
  position: absolute;
  z-index: 999;
}
.form-login {
  max-width: 500px;
  background: #f7f3ee;
  padding: 30px;
  margin: auto;
  margin-top: 0px;
  border-radius: 8px;
  color: black;
}
.banner {
  width: 100%;
  max-height: 400px;
  margin-bottom: 50px;
}
.nosotros {
  width: 100%;
  max-height: 600px;
  margin-bottom: 50px;
}
.calendario {
  width: 40%;
  margin-top: 50px;
}
background-login {
  width: 100%;
  height: 100%;
  background-color: #123ac8;
  object-fit: fill;
  position: relative;
}
/* Botones*/

.form-login {
  max-width: 500px;
  background: #f7f3ee;
  padding: 30px;
  margin: auto;
  margin-top: 0px;
  border-radius: 8px;
  color: black;
}

.form-group {
  margin-top: 8px;
  justify-content: center;
}

/* Botones*/
.btn.bg-rojo.centerButton {
  align-content: right;
  margin-top: 20px;
  background-color: #fe4236 !important;
  color: #f7f3ee !important;
}
/* .bg-rojo {

} */

/*Buscador*/
.background-marca-agua {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://static.tokkobroker.com/pictures/70515481465414329222348399778114687391599399167965672903064517771696124959743.jpg");
  opacity: 70%;
  padding: 2rem 0 0 0;
  object-fit: fill;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.formulario-search{
  background-color: rgba(255, 255, 255, 0.832);
  max-width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 0px;
  border-radius: 8px;
  margin-bottom: 100px;
}
.formulario-titulo{
  position: relative;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  margin-bottom: 24px;
}
.seleccion{
  height: 100%;
  text-decoration: none;
  display: inline;
  margin-right: 20px;  
}
.input{
  margin-top: 30px;
}
.form-appraisals {
  max-width: 500px;
  background: #24303c;
  opacity: 80%;
  padding: 30px;
  margin: auto;
  margin-top: 0px;
  border-radius: 8px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white
}

.form-appraisals h4{
  text-align: center;
  font-size: 22px;
  margin-bottom: 24px;
}
.form-appraisals h6{
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
}
.form-appraisals p{
  height: 40px;
  text-align: center;
  font-size: 18px;
}
.form-appraisals a{
  color:white;
  text-align: center;
  font-size: 18px;
}
.controls{
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #1f53c5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }

  to {
    width: 0;
    background: transparent;
  }
}
